<app-user></app-user>
<div class="section-inner">
  <div class="cards-list">

    <a href="/api/pdf/download/130/{{id}}" download="I-130.pdf">
    <div class="card 1">
      <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
      <div class="card_title title-white">
        <p>I - 130</p>
      </div>
    </div>
    </a>
    <a download="I-130a.pdf" href="/api/pdf/download/130a/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>I - 130a</p>
        </div>
      </div>
    </a>
    <a download="I-131.pdf" href="/api/pdf/download/131/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>I - 131</p>
        </div>
      </div>
    </a>
    <a download="I-485.pdf" href="/api/pdf/download/485/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>I - 485</p>
        </div>
      </div>
    </a>
    <a download="I-756.pdf" href="/api/pdf/download/765/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>I - 765</p>
        </div>
      </div>
    </a>
    <a download="I-864.pdf" href="/api/pdf/download/864/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>I - 864</p>
        </div>
      </div>
    </a>
    <a download="G-1145.pdf" href="/api/pdf/download/1145/{{id}}">
      <div class="card 1">
        <div class="card_image"> <img src="../../../assets/collet.png" /> </div>
        <div class="card_title title-white">
          <p>G - 1145</p>
        </div>
      </div>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
