<div *ngIf="section==1">
	<div class="section__inner">
		<h1 class="section__title">What's Next?</h1>
		<img class="whatsnext__img" src="assets/whatsnext.png" alt="">
		<span class="section__discription">Good work on completing Submission 1 👍 In the next section, we will explain in detail what happens next after Submission 1. This includes:</span>
		<div class="section__container">
			<ul class="section__list">
				<li>Timeline after Submission 1, and when to start Submission 2</li>
				<li>How to track your case status</li>
				<li>Waiting period and the visa bulletin</li>
				<li>Things to note while Submission 1 is pending</li>
			</ul>
			<span class="section__discription">Let's get started!</span>
		</div>
		<div class="section__container-btn">
			<a class="form__btn-back" (click)="us.section='submitapplication';us.top();"> < Back </a>
			<a class="form__btn-continue" (click)="section=2;us.top();"> Continue ></a>
		</div>
	</div>

</div>
<div *ngIf="section==2">
	<div class="section__inner">
		<h1 class="section__title">Instant Access after Checkout</h1>
		<!-- <button class="section__btn" (click)="modal.show({component:'stripemodal'})">Proceed in checkoud</button> -->
		<stripe-buy-button
        buy-button-id="buy_btn_1NPWZ3DBW6vzTeKzsM0SVS9n"
        publishable-key="pk_live_51IRTF6DBW6vzTeKz7SJzo2ku8Lds2B6SUtszzntTuWzyt5x8xPpoOgYY49urR3vxn73FwUFbLlNjhgtpJftEJmyg00Lz8XrNDe"
      ></stripe-buy-button>
    <div class="section__container-btn">
			<a class="form__btn-back" (click)="section=1;us.top();"> < Back </a>
			<a class="form__btn-continue" (click)="us.tab='submissiontwo'; us.section='submissiontwohome' ;us.top();"> Continue ></a>
		</div>
	</div>
</div>



