
<div class="uscis-inner">
  <h2>What if I cannot remember the exact move in/out date?</h2>

<p>USCIS does not have specific instructions on whether using estimated move in/out dates are OK. If you want to confirm this, you may consider <a target="_blank " style="color: #4D61FC;" href="https://www.uscis.gov/contactcenter">contacting USCIS.</a>  They have representatives that you can speak to during weekdays. When you call, the automated system would ask you for a case number, but it is OK if you don't have one - once you are connected, just tell the representative you are still preparing your application. Here is their contact information:</p>

<p>If you are in the United States or a U.S. territory, you can call the USCIS Contact Center. Dial 800-375-5283 (for people who are deaf, hard of hearing, or have a speech disability: TTY 800-767-1833). If you are outside the United States or a U.S. territory, you can call 212-620-3418.</p>

<p>You can get live help from a USCIS representative Monday through Friday from 8 a.m. to 8 p.m. Eastern except on federal holidays.</p>


Source: Greenbroad suggestion only. Not from USCIS.
</div>
