<div class="form" style="
display: flex;
align-items: center;
flex-direction: column;">
  <h2>Forgot your password</h2>
  <p>Plase enter your email address</p>
  <div style="display: flex; flex-wrap: nowrap;" for="">
    <div>
    <input placeholder="Your email" type="text" [(ngModel)]="us.data.application.fargotpassword" (ngModelChange)="us.update();">
    <span class="alert" *ngIf="us.data.application.fargotpassword && !ui.valid(us.data.application.fargotpassword)">Invalid email address</span>
  </div>
    <button class="forgot-btn"  [disabled]="ui.valid(email)" (click)="forgotPassword(); closeModal()">Submit</button>
  </div>
  <div *ngIf="showCode">
    input pin
    input password
  </div>
</div>

