<div *ngIf="section==1">
  <div class="section__inner">
    <h1 class="section__title">Collect Documents</h1>
    <img class="section__img" src="assets/collet.png">
    <div class="section__discription">Now it's time to collect the supporting documents that will be submitted with
      Submission 1 👌
      In this section, we will help you collect all the necessary supporting documents using a comprehensive checklist.
      All items on this list come from official USCIS instructions. The document items are grouped into the following
      categories:</div>
    <div class="section__container">
      <ul class="section__list">
        <li>Marriage documents</li>
        <li>Proof of 1's Green Card status</li>
        <li>Passport-style photos</li>
        <li>Proof of bona fide marriage</li>
      </ul>
    </div>
    <div class="section__discription">Later in the Submit Application section, we will help you sort these documents
      into correct groups and attach them onto their corresponding application forms. For now, just focus on gathering
      the documents into one place.</div>
    <div class="tabs__container">
      <div class="sub__section-btn" (click)="subsectioncollectone=!subsectioncollectone"
        (clickOutside)="subsectioncollectone=null"><span class="sub__section-icon"
          [class._active]="subsectioncollectone">&#8250;</span>Should I submit photocopies or originals?</div>
      <div class="sub-sub__section-inner" *ngIf="subsectioncollectone">
        <p>You may submit legible photocopies of the documents requested, unless the USCIS instructions specifically
          state that you must submit an original document. USCIS may request an original document at the time of filing
          or at any time during processing of an application, petition, or request.</p>

        <p>If you submit original documents when not required, different forms handle that different, ranging from
          automatically returning them to you, to returning to you upon request only, to immediately destroying them.
          Read form specific instructions for details.</p>
      </div>
      <div class="sub__section-btn" (click)="subsectioncollecttwo=!subsectioncollecttwo"
        (clickOutside)="subsectioncollecttwo=null"><span class="sub__section-icon"
          [class._active]="subsectioncollecttwo">&#8250;</span>Should copies of supporting documents be single-sided or
        double sided?</div>
      <div class="sub-sub__section-inner" *ngIf="subsectioncollecttwo">
        They should be single-sided.
      </div>
      <div class="sub__section-btn" (click)="subsectioncollectthree=!subsectioncollectthree"
        (clickOutside)="subsectioncollectthree=null"><span class="sub__section-icon"
          [class._active]="subsectioncollectthree">&#8250;</span>Translation for Foreign Documents</div>
      <div class="sub-sub__section-inner" *ngIf="subsectioncollectthree">
        <p>If you submit a document with information in a foreign language, you must also submit a full English
          translation. The translator must sign a certification that the English language translation is complete and
          accurate, and that he or she is competent to translate from the foreign language into English. The
          certification must include the translator’s signature. The Department of Homeland Security recommends the
          certification contain the translator’s printed name, the date and the translator’s contact information.</p>
      </div>
      <div class="sub__section-btn" (click)="subsectioncollectfour=!subsectioncollectfour"
        (clickOutside)="subsectioncollectfour=null"><span class="sub__section-icon"
          [class._active]="subsectioncollectfour">&#8250;</span>What if a name has changed?</div>
      <div class="sub-sub__section-inner" *ngIf="subsectioncollectfour">
        <p>If either you or your spouse is using a name that is not the same name shown on the relevant documents, you
          must provide copies of the legal documents reflecting the name change, such as a marriage certificate,
          adoption decree, or court order.</p>
      </div>
    </div>
    <div class="section__container-btn">
      <a class="form__btn-back" (click)="us.section='submissionhome';us.top();">
        < Back </a>
          <a class="form__btn-continue" (click)="us.section='printforms';us.top();"> Continue > </a>
    </div>
  </div>
</div>
