/* color */
$text: #333333;
$text-l: #34495E;

$bg: #ECF0F1;

$basic: #2980B9;
$extra: #16A085;
$warn: #E67E22;
$danger: #E74C3C;

$border: #95A5A6;

/* font family */
$ff-base: "Roboto", sans-serif;
$ff-title: "Lato", sans-serif;
$ff-second: 'Roboto', sans-serif;

/* font-size */
$fs: 16px;





// ===== COLORS ===== 
$blue: #334D6E;
$sky: #3498DB;
$skyL: #58ACF5;
$grey: #BDBDBD;
$greyL: #F2F2F2;
$red: #A31010;
$redD: #8C1B0F;
$green: #089227;
$white: #fff;
$black: #000;
$dark: #000;





// --var
$c-primary-1:#F44336;
$c-primary-2:#1E88E5;
$c-primary-3:#FDD835;

$c-border: #CDD9ED;
$c-border-hover: #99A3BA;
$c-text: #6C7486;
$c-text-head: #3F4656;	







// ====  sidebar settings ====

$sidebarColor: #1F2226;
$sidebarWidth: 230px;
$sidebarHiddenWidth: 62px;

