.errspan{
  color: red;
}
.err{
  border: 1px solid red;
}
.section__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 35px;
	border-top: 3px solid #ed9121;
	background: #fff;
	box-shadow: 0 0 25px rgb(0 0 0 / 25%);
	.section__title{
		color: #1972F5;
		padding: 0 0 25px 0;
	}

	.section__discription{
		padding-top: 25px;
		color: rgb(0, 0, 0);

	}

	.section__container{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}

	.section__container input{
		padding: 10px;
		color: rgb(0, 0, 0);
	}

	.section__container-btn{
		width: 100%;
	}
	.npt__title{
		padding-top: 25px;
	}

	.sub-discription{
		padding-top: 25px;
		color: rgba(0, 0, 0, .5);
	}

	.sub-discription a{
		color: #1972F5;
	}
	.section__container-btn{
		padding-top: 25px;
	}
	.form__btn-continue{
		margin-left: 25px;
		padding: 10px;
		background: #1972F5;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	.form__btn-continue:hover{
		background: #8290ff;
		transition: 0.5s;

	}
	.sub-discription a{
		padding-left: 5px;


	}
	.form__check{
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}

	.form__check {
		padding-bottom: 20px;

	}

	.check{
		padding-left: 10px;

	}
	.sub__section{
		display: flex;
		flex-direction: column;
	}

	.sub__section label{
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}

  .form__title{
    padding-top: 25px;
    padding-bottom: 0px;
    font-weight: 600;
  }
  .label__inner{
    display: flex;
    flex-direction: column;
  }
  .label__inner input{
    padding:10px;
    width: 100%;
  }


}
@media 	screen and (max-width: 767px) {
	.section__inner{
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px;
		border-top: 3px solid #ed9121;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);

		.section__title{
			color: #1972F5;
			text-align: center;
		}

	}

}
input{
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	padding: 10px;
  text-transform: uppercase;
}
