<div class="uscis-inner">
<h2>U.S. Mailing Address</h2>

<p> You must provide a valid mailing address in the United States. You may list a valid U.S. residence, APO, or commercial address. You may also list a U.S. Post Office address (PO Box) if that is how you receive your mail. If your mail is sent to someone other than yourself, please include an “In Care Of Name” as part of your mailing address. If your U.S. mailing address is in a U.S. territory and it contains an urbanization name, list the urbanization name in the “In Care Of Name” space provided. Do not use the attorney’s or other legal representative’s address.
</p>
Source: <a target="_blank" style="color: #4D61FC;" href="https://www.uscis.gov/sites/default/files/document/forms/i-765instr.pdf">USCIS Form I-765 Instructions Page 21</a>
</div>
