
<div class="alien-inner">
<h2> Applicant's Alien registration number</h2>
<p>An A-Number, also known as an Alien Registration Number or Alien Number, is a unique eight- or nine-digit number
assigned to a noncitizen at the time their A-File is created. An A-Number is the letter “A” followed by eight or nine
numbers (such as A012345678).</p>
<p>Generally, the U.S. government does not assign an A-Number to nonimmigrant visitors (people who are in the U.S. on a
temporary basis), so you may not have an A-Number. However, if you have ever applied for or received an Employment
Authorization Card (EAD), or other immigration benefits, you may have been issued an A-Number.</p>

<p>On an EAD, the A-Number may be listed as the "USCIS#" on the front of the card. It is O.K. if the USCIS# does not start
with a letter "A".
</p>

Source for Above Section: <a target="_blank " style="color: #4D61FC;" href="https://www.uscis.gov/sites/default/files/document/forms/i-765instr.pdf">
  USCIS Glossary, USCIS Form I-765 Instructions Page 21</a> USCIS Glossary, USCIS Form I-765 Instructions Page 21, and Greenbroad uggestion

<h2>I have an expired EAD, what to do with the USCIS# on it?</h2>
<p>The USCIS instructions do not provide information on this scenario. It is up to you to decide whether to fill it in for
this question.</p>

<p>Since we are not lawyers, we cannot give legal advice. If you want to make sure about this question, we suggest
consulting an immigration lawyer for clarification. You can either have a quick lawyer consultation now, or have a final
lawyer review after finishing your application using GreenCardHero. Many applicants do this. Both of these two options
are affordable, and many lawyers provide remote services if you do not want to visit their office. If you need a lawyer
recommendation, just let us know.</p>


Source: GreenCardHero suggestion only, not from USCIS

</div>
