<div class="fomrs__inner">
  <div class="section__inner">
<img style="max-width: 500px; width: 100%;" src="assets/done.png" alt="done">
    <h1 style="color: lawngreen;">
      Thank you for the payment!
    </h1>
    <p style="text-align: center; font-weight: 600;">
      We are on your application and you should hear back from us within 24 hours. Please feel free to reach out to us
      at <a href="support@greenbroad.co">support@greenbroad.co</a> if you have any questions.
    </p>
  </div>
</div>
