@media 	screen and (max-width: 767px) {
	.section__inner{
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px;
		border-top: 3px solid #ed9121;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);

		.section__title{
			color: #1972F5;
			text-align: center;
		}

	}

}
input{
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	padding: 10px;
  text-transform: uppercase;
}
