.key-inner {
  padding: 10px;
}
.form__btn-continue{
  margin-left: 25px;
  padding: 10px;
  background: #1972F5;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
    margin-top: 25px;
}
.form__btn-continue:hover{
  background: #8290ff;
  transition: 0.5s;
}
