<div  class="key-inner">

  Activate Greenbroad

  <p>Enter your existing license key below:</p>

  <p> You should have received a license key at the time of purchase. If you cannot find it, contact us using the chat
    tool
    on the lower right corner of this screen. In the message, please include the email address you used for the original
    purchase. We will get back to you within 24 hours.</p>


  <label for="">
    <span>Greenbroad license key</span>
<input type="text">
  </label>
  <label for="">
    <span>Email address used for the original purchase</span>
    <input type="text">
  </label>

  <div style="display: flex; width: 100%; justify-content: flex-end;">
    <button class="form__btn-continue">Submit</button>
  </div>

</div>
