.errspan{
  color: red;
}
.err{
  border: 1px solid red;
}
.section__inner{
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px;
	border-top: 3px solid #ed9121;
	background: #fff;
	box-shadow: 0 0 25px rgb(0 0 0 / 25%);
	img{
		width: 75px;
		height: 75px;
		margin-top: 25px;
	}

	.section__title{
		color: #1972F5;
	}

	.section__discription{
		padding-top: 25px;
		color: rgba(0, 0, 0, .5);
	}
	.section__container-btn{
		padding-top: 50px;
		width: 100%;
	}
	.form__btn-continue{
		margin-left: 25px;
		padding: 10px;
		background: #1972F5;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	.form__btn-continue:hover{
		background: #8290ff;
		transition: 0.5s;
	}
	.check{
		padding-left: 10px;
	}
}
.form__title{
	font-weight: 600;
}
.section-form__inner{
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 50px;
	border-top: 3px solid #ed9121;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	.section__title{
		color: #1972F5;
		padding-bottom: 10px;
	}
	.form__discription{
		padding-top:10px;
		font-weight: 600;
		padding-bottom: 10px;
	}
	.form__inner{
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 800px;
		background: #f5f5f5;
		padding: 25px;
		border-radius: 10px;
	}
	.form__inner label{
		display: flex;
		flex-direction: column;
		padding-top:25px;
	}
	.form__inner label input {
		padding: 10px;
	}

	.form__inner label select {
		padding: 10px;
	}
	.double__form{

		padding-top: 25px;
	}
	.double__form select{
		width: 100%;
		max-width: 200px;
		padding: 8px;
	}
	.double__form input{
		width: 100%;
		max-width: 200px;
		padding: 10px;
	}
	.forms{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.form__subdiscription{
		padding-top: 35px;
	}

	.form__subdiscription a{
		padding-left: 7px;
		color: #1972F5;
	}

	.section__container-btn{
		padding-top: 50px;
		width: 100%;
	}
	.form__btn-continue{
		margin-left: 25px;
		padding: 10px;
		background: #1972F5;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	.form__btn-continue:hover{
		background: #8290ff;
	}
	.form__check{
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}

	.form__check span{
		padding-bottom: 25px;
	}
}

input{
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	padding: 10px;
  text-transform: uppercase;
}
.forms__select{
	width: 100%;
	width: 200px;
}
.check__discription{
	padding-left: 10px;
}
.container__title{
	font-size: 20px;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 800px;
	height: 50px;
	border-bottom: 1px solid #99999982;
	padding: 25px;
}
.add-forms__title{
	font-weight: 600;
	padding-top: 35px;
}
.container__title{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.add-form__inner{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	background: #f5f5f5;
	border-radius: 10px;
	border: 1px solid #99999982;
}
.form__inner{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	background: #fff;
	padding: 25px;
}

.add-form__btn{
	margin-top: 25px;
	color: #1972F5;
	cursor: pointer;
	background: none;
	border:none;
}

.check{
	padding-left: 10px;
}
.check__container{
	padding-top: 25px;
}
.inner-title__btn{
	border: none;
	background: none;
	cursor: pointer;
}
.company-form__inner{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	background: #f5f5f5;
}
.form__title{
	padding-bottom: 7px;
}
@media 	screen and (max-width: 767px) {
	.section__inner{
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 25px;
		border-top: 3px solid #ed9121;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		img{
			width: 75px;
			height: 75px;
			margin-top: 25px;
		}
		.section__title{
			color: #1972F5;
			text-align: center;
			padding: 0 0 25px 0;
		}
		.section__container-btn{
			width: 100%;
			margin-top: 25px;
		}
	}
	.section-form__inner {
		max-width: 1000px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 25px;
		border-top: 3px solid #ed9121;
		background: #fff;
		box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	}
	.section__discription {
		padding-top: 25px;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
	}
	.add-form__btn{
		margin-top: 25px;
		color: #1972F5;
		cursor: pointer;
		background: none;
		border: none;
		font-size: 17px;
	}
	.sub__title{
		font-size: 17px;
	}
}
