<div class="uscis-inner">
  <h2>Individuals with Disabilities and/or Impairments</h2>

<p>If you believe that you need USCIS to accommodate your disability and/or impairment, complete this section of the application.</p>

<p>USCIS is committed to providing reasonable accommodations for qualified individuals with disabilities and/or impairments that will help them fully participate in USCIS programs and benefits. Reasonable accommodations vary with each disability and/or impairment. They may involve modifications to practices or procedures. There are various types of reasonable accommodations that USCIS may offer. Examples include but are not limited to:</p>

<p>If you are deaf or hard of hearing, USCIS may provide you with a sign-language interpreter at an interview or other immigration benefit-related appointment;
  If you are blind or have low vision, USCIS may permit you to take a test orally rather than in writing; or
  If you are unable to travel to a designated USCIS location for an interview, USCIS may visit you at your home or a hospital.
  NOTE: All domestic USCIS facilities meet the Accessibility Guidelines of the Americans with Disabilities Act, so you do not need to contact USCIS to request an accommodation for physical access to a domestic USCIS office. However, in this section of the application, you can indicate whether you use a wheelchair. This will allow USCIS to better prepare for your visit.</p>

<p>NOTE: USCIS also ensures that limited English proficient (LEP) individuals are provided meaningful access at an interview or other immigration benefit-related appointment, unless otherwise prohibited by law. LEP individuals may bring a qualified interpreter to the interview.</p>

<p>USCIS considers requests for reasonable accommodations on a case-by-case basis, and will make their best efforts to reasonably accommodate your disabilities and/or impairments. USCIS will not exclude you from participating in USCIS programs or deny your application because of your disabilities and/or impairments. Requesting and/or receiving an accommodation will not affect your eligibility for an immigration benefit.</p>

Source: <a target="_blank" style="color: #4D61FC;" href="https://www.uscis.gov/sites/default/files/document/forms/i-485instr.pdf">USCIS Form I-485 Instructions Page 17</a>
</div>
