.strape-wrapper{
  background: #f5f5f5;
}

.stripe-top{
  padding: 10px 10px 5px;
  width: 100%;
  background: #4D61FC;
}
.strape-contant{
  padding: 35px 10px 10px 10px;
  text-align: end;

}
.strape-button{
  background: #269f1a;;
  border: none;
  outline: none;
  padding: 15px 30px;
  color: antiquewhite;
  cursor: pointer;
}
