<div class="jvisa-inner">
    <h2> J Visa Two-Year Foreign Residence Requirement
    </h2>
    <p>If you are or were a J-1 or J-2 nonimmigrant exchange visitor and are subject to the 2-year foreign residence
        requirement of INA section 212(e), you may not apply to adjust status unless you have complied with the foreign
        residence requirement, have been granted a waiver of that requirement, or were issued a favorable waiver
        recommendation letter from U.S. Department of State (DOS).</p>
    Source: <a target="_blank " style="color: #4D61FC;"
        href="https://www.uscis.gov/sites/default/files/document/forms/i-485instr.pdf">USCIS Form I-485 Instructions
        Page 14</a>
    <h2>How to find out if I am subject to this requirement?</h2>
    <p>How to find out if I am subject to this requirement?
        Not all J-1 visa are subject to the two-year foreign residence requirement. You can determine whether your J-1
        is subject by following these rules listed on the <a target="_blank " style="color: #4D61FC;"
            href="https://travel.state.gov/content/travel/en/us-visas/study/exchange/waiver-of-the-exchange-visitor/eligibility.html">Department
            of State website</a></p>
    <p>If it is not clear from these rules whether you are subject, you can also try:</p>
    <ul>
        <li>Check with your J-1 program sponsor</li>
        <li>Check your J-1 documents:</li>
        <li>On the J-1 visa stamp page in your passport. It may bear the phrase: "Bearer is (or is not) subject to 212(e). Two year rule does/does not apply."</li>
        <li>In the section in the lower left hand corner of your DS-2019 form labeled "preliminary endorsement."</li>
        <li>Take the survey available on the U.S. State Department <a target="_blank " style="color: #4D61FC;" href="https://j1visawaiverrecommendation.state.gov/"> J Visa Waiver Online webpage</a>.</li>
    </ul>
    <p>
        However, please note that none of these methods guarantee 100% certainty. For an official determination of
        whether you are subject to the two-year foreign residence requirement, you need to request an Advisory Opinion
        form the U.S. State Department. You can learn more about how to obtain an Advisory Opinion here.
    </p>
    <p>
        Getting the Advisory Opinion takes time, so it’s up to you to decide whether to submit your application early
        without the Advisory Opinion, or wait until you get an Advisory Opinion. For your information, Form I-485 is the
        form that asks about the J-1 two-year foreign residence requirement, and the Form I-485 instructions do not list
        an Advisory Opinion as a required document.
    </p>


    Source:<a target="_blank " style="color: #4D61FC;"
        href="https://travel.state.gov/content/travel/en/us-visas/study/exchange/waiver-of-the-exchange-visitor/eligibility.html">U.S.
        State Department</a>
    , <a target="_blank " style="color: #4D61FC;"
        href="https://davisic.princeton.edu/immigration/students/2-year-residence-requirement">princeton.edu</a> and
    Greenbroad suggestions
</div>
