<!-- <div *ngIf="section==1">
	<div class="section__inner">
		<h1 class="section__title">Instant Access after Checkout</h1>
		<div class="discription__inner">
			<span>Here, we've got all the documents you need for that loooong I-944. This list can be 28-item strong, but, if you get lucky, it may be shorter! We'll create a customized list for ya 🍀</span>
		</div>
		<button class="section__btn" (click)="modal.show({component: 'stripemodal'});"> Proceed to Checkout</button>
		<a class="section__link" href="">Already purchased?</a>
		<img class="section__img"  src="assets/checkout.png" alt="">
		<div class="section__container-btn">
			<a class="form__btn-back" (click)="us.section='proofofinancial';us.top();"> < Back </a>
			<a class="form__btn-continue" > Continue ></a>
		</div>
	</div>
</div> -->
