<div class="uscis-inner">
<h2>USCIS Online Account Number</h2>

<p>If you have previously filed an application, petition, or request using the USCIS online filing system (previously
called USCIS Electronic Immigration System (USCIS ELIS)), provide the USCIS Online Account Number you were issued by the
system. You can find your USCIS Online Account Number by logging in to your account and going to the profile page.</p>

<p>If you previously filed certain applications, petitions, or requests on a paper form via a USCIS Lockbox facility, you
may have received a USCIS Online Account Access Notice issuing you a USCIS Online Account Number. If you received such a
notice, your USCIS Online Account Number can be found at the top of the notice. If you were issued a USCIS Online
Account Number, enter it in the space provided.</p>

<p>The USCIS Online Account Number is not the same as an A-Number.</p>

Source: <a target="_blank " style="color: #4D61FC;"
  href="https://www.uscis.gov/sites/default/files/document/forms/i-485instr.pdf">USCIS Form I-485 Instructions Page 6</a>,<a target="_blank " style="color: #4D61FC;" href="https://www.uscis.gov/sites/default/files/document/forms/i-864instr.pdf">USCIS Form I-864 Instructions page 6</a>

</div>
