.section__inner{
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 3px solid #ed9121;
	background: #fff;
	box-shadow: 0 0 25px rgb(0 0 0 / 25%);
	padding: 35px;
	margin: 10px;

	.inner{
		background: #4d61fc80;
		padding: 50px;
	}

	.sub__inner{
		padding: 50px;
	}


	.section__title{
		color: #1972F5;
		padding: 0 0 25px 0;
	}

	.section__btn{
		margin-top: 35px;
		padding: 20px;
		font-size: 23px;
		color: #fff;
		background: #ed9121;
		cursor: pointer;
		border:none;
	}

	.section__link{
		color: #1972F5;
		padding-top: 35px;
		cursor: pointer;
		font-size: 20px;
	}
	.section__img{
		width: 300px;
	}
	.discription__inner{
		margin-top: 25px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		background: #4d61fc85;
		max-width: 550px;
		width: 100%;
	}
	.discription__title{
		text-align: center;
		font-weight: 600;
	}
	.section__container-btn{
		padding-top: 25px;
		width: 100%;
	}
	.form__btn-continue{
		margin-left: 25px;
		padding: 10px;
		background: #1972F5;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
    border: none;
    outline: none;
	}
  .form__btn-continue:disabled{
    background: #4d61fc59;
  }

	.form__btn-continue:hover{
		background: #8290ff;
		transition: 0.5s;
	}

	.signdateetc__discription{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.form__title{
		padding-top: 25px;
		font-weight: 600;
	}

	.form__inner{
		background: #f5f5f5;
		padding: 25px;
		margin-top: 25px;
	}
	.sub-form__inner{
		background: #8290ff;
		padding: 25px;
	}
	.form__check{
		display: flex;
		flex-direction: column;
		padding-top: 25px;
	}

	.form__check {
		padding-bottom: 20px;
	}

	.check{
		padding-left: 10px;
	}

}
@media 	screen and (max-width: 767px) {
	.section__inner{
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px;
		border-top: 3px solid #ed9121;
		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);

		.section__title{
			color: #1972F5;
			text-align: center;
		}

	}

}
input{
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	padding: 10px;
  text-transform: uppercase;
}
.sub-discription{
  padding: 25px 0 0 0;
  padding-top: 25px;
  color: rgba(0, 0, 0, .5);
}
