.section__inner{
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px;
	border-top: 3px solid #ed9121;
	background: #fff;
	box-shadow: 0 0 25px rgb(0 0 0 / 25%);
	.section__title{
		color: #ed9121;

	}
	.section__btn{
		margin-top: 35px;
		padding: 20px;
		font-size: 20px;
		color: #fff;
		background: #ed9121;
		cursor: pointer;
		border: none;
		border-radius: 5px;
	}
	.section__btn:hover{
		background:#ed912180;
		transition: 0.5s;
	}
	.section__link{
		color: #1972F5;
		padding-top: 35px;
		cursor: pointer;
	}
	.section__img{
		width: 100%;
		max-width: 500px;
	}
	.section__container{
		width: 100%;
	}
	.section__container-btn{
		padding-top: 50px;
		width: 100%;
	}
	.form__btn-continue{
		margin-left: 25px;
		padding: 10px;
		background: #1972F5;
		border-radius: 5px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
	.form__btn-continue:hover{
		background: #8290ff;
		transition: 0.5s;

	}
	.section__discription{
		width: 100%;
		padding-top: 10px;
	}

}
input{
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	padding: 10px;
  text-transform: uppercase;
}
.sub__section-icon {
	display: inline-block;
	font-size: 30px;
	margin-right: 10px;
	transition: .2s all ease-in-out;
	&._active {
		transform: rotate(90deg);
		transition: .2s all ease-in-out;
	}
}
.sub__section-list li{
	padding-top: 15px;
}

.sub__section-btn{
	color: #1972F5;
		// arrow
		display: flex;
		align-items: baseline;
		cursor: pointer;
		font-size: 20px;
	}

	.sub__section-container{
		display: flex;
		flex-direction: column;
		padding-top: 25px;

	}
	.sub__discription{
		padding-top: 25px;
	}
	.sub__section-container{
		width: 100%;

	}
	.sub__discription a {
		color: #1972F5;
	}
	@media 	screen and (max-width: 767px) {
		.section__inner{
			max-width: 1200px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 25px;
			border-top: 3px solid #ed9121;
			background: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			.section__title{
				color: #1972F5;
				text-align: center;
			}
		}
	}









